<nav class="sticky-top navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  <div>
    <%= link_to path do %>
        <i class="<%= visible %> fa fa-arrow-left p-1"></i>
      <% end %> 
    <%= link_to "Budget App ", root_path, class: "navbar-brand"%>
    </div>
   
      <P class="navbar-brand mt-2"><%= text %></P>

      <ul class="navbar-nav mb-2 mb-lg-0 custom">
         <% if @current_user %>
         <li class="nav-item mt-2">Welcome
            <span class="navbar-brand fs-6 text-info"> <%= current_user.name %></span>
         </li>
            <li class="nav-item navbar-brand fs-6">
             <%= button_to "logout", destroy_user_session_path , method: :delete, class: "btn btn-outline-secondary"  %>
              </li>
         <% end %>
      </ul>
    </div>
  </div>
</nav>

